<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Satochat.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Satochat.Client.Properties.Settings>
            <setting name="ApiEndpoint" serializeAs="String">
                <value>https://home.steffenl.com/satochat</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicKeyUploaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="EmojiMap" serializeAs="String">
                <value />
            </setting>
            <setting name="ConversationForm_InitialSize" serializeAs="String">
                <value>500, 500</value>
            </setting>
            <setting name="ConversationForm_InitialPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConversationForm_HasInitialPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainForm_InitialSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="MainForm_InitialPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainForm_HasInitialPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDebug" serializeAs="String">
                <value>False</value>
            </setting>
        </Satochat.Client.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
